<!DOCTYPE html>
<html>
<head>
    <title>
        Upload Files
    </title>
</head>

<body>

<h2>
    Upload Excel & Images
</h2>

<input
    type="file"
    id="files"
    multiple
>

<br><br>

<button onclick="uploadFiles()">
    Upload
</button>

<pre id="result"></pre>

<script>

async function uploadFiles() {

    const files =
        document
        .getElementById(
            "files"
        ).files

    const formData =
        new FormData()

    for (
        let file of files
    ) {

        formData.append(
            "files",
            file
        )
    }

    const response =
        await fetch(
            "/upload",
            {
                method: "POST",

                headers: {
                    "ngrok-skip-browser-warning":
                        "69420"
                },

                body: formData
            }
        )

    const result =
        await response.json()

    document
        .getElementById(
            "result"
        ).textContent =
            JSON.stringify(
                result,
                null,
                2
            )
}

</script>

</body>
</html>
